.button{
    background-color: black;
}
.inputfield{
    max-width: 110%;
    height: 35px;
    font-size: 18px;
}
.show-icon{
    cursor: pointer;
}

.logoText{
    font-size: 26px;
    font-style: oblique;
}
